<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Scout email notification:</strong>
    <%= user.scout_email_notification %>
  </p>

  <p>
    <strong>Introduction project email:</strong>
    <%= user.introduction_project_email %>
  </p>

  <p>
    <strong>Advertisement delivery:</strong>
    <%= user.advertisement_delivery %>
  </p>

  <p>
    <strong>Email magazine:</strong>
    <%= user.email_magazine %>
  </p>

  <p>
    <strong>Contact from manager:</strong>
    <%= user.contact_from_manager %>
  </p>

</div>
